<!DOCTYPE html>
<html>

<head>
  <title> Estadisticas </title>
</head>
<body >


  <div class='container-fluid' >
    <div class='row'>

      <div class='col-sm-9 body-content'>

        <div class="card r3">
          <div class="card-header">
            <h1> Clasificación de residuos </h1>

          </div>

          
          <div class="card-body" id="pie">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"></canvas>
          </div>
           
          <div class="card-footer">

            <button *ngIf="show" style="float: right; margin:2%;" class="btn btn-danger" type="button" (click)="generarPDF()"> <span class="icon-file-pdf"></span> </button>
            <button style="float: right; margin:2%" class="btn btn-primary" type="button" (click)="getPastel()"><span class="icon-search"></span> </button>
            <button style="float: right; margin:2%;" class="btn btn-warning" type="button" (click)="Maximizar()"> <span class="icon-zoom-in"></span> </button>

            <button *ngIf="show" style="float: right; margin:2%;"  class="btn btn-primary" type="button" (click)="Regresar()"><span class="icon-undo"></span> </button>

          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
