<!DOCTYPE html>
<html>

<head>
  <title> Estadisticas </title>
</head>
<body>


  <div class='container-fluid' >
    <div class='row'>

      <div class='col-sm-9 body-content'>

        <div class="card r3">
          <div class="card-header">
           <label> <h1> Clasificación de residuos </h1> </label>

            <button style="float: right; margin-top:3%;" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"> Actualizar </button>

          </div>

          <div class="card-body" id="multiCollapseExample2">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"></canvas>
          </div>
        </div>


      </div>
    </div>
  </div>

</body>
</html>
