

<div class="card"  (mouseout)="ObtenerTop()" ngNativeValidate>
  <div class="card-header">
    <h1> Últimos 5 componentes </h1>
  </div>

  <div class="card-body">

    <table class="table">


      <thead class="thead-dark">

        <tr>
<!--
          <th scope="col"> ID </th>-->
          <th scope="col"> Componente </th>
          <th scope="col"> Peso (Kg) </th>
          <th scope="col"> Clasificación </th>
          <th scope="col"> Fecha de ingreso </th>


        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let info of _componentes">
<!--
          <td> {{info.id}} </td> -->
          <td> {{info.nombre}} </td>
          <td> {{info.peso}} </td>
          <td> {{info.clasificacion}} </td>
          <td> {{info.fecha}} </td>


        </tr>

      </tbody>
    </table>

    <!--
    <input type="button" class="btn btn-primary" value="Actualizar" />
        -->

  </div>

</div>


