<!DOCTYPE html>
<html>
<head>
  <title> Home Citizen </title>
</head>
<body>


  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu-citizen></app-nav-menu-citizen>
      </div>
      <div class='col-sm-9 body-content'>


        <!--
  <form (ngSubmit)="ObtenerDatos()">
    <div class="card">
      <div class="card-header">
        <h1> Registro de centro </h1>
      </div>
      <div class="card-body">
        <input class="form-control" type="text" placeholder=" Nombre" [(ngModel)]="nombre" name="nombre" required />
        <input class="form-control" type="number" placeholder=" Latitud" [(ngModel)]="longitud" name="longitud" required />
        <input class="form-control" type="number" placeholder=" Longitud" [(ngModel)]="latitud" name="latitud" required />
      </div>
      <div class="card-footer">
        <input type="submit" class="btn btn-success" value="Ingresa el centro" />
      </div>
    </div>
  </form>
    -->
        <div class="card">
          <div class="card-header">
            <h1> Mapa de centros </h1>
          </div>
          <div class="card-body">
            
            <agm-map [latitude]="19.170981"
                     [longitude]="-96.126865"
                     [zoom]="14">

              <agm-marker *ngFor="let i of d"
                          [latitude]="i.latitud"
                          [longitude]="i.longitud">

                <agm-info-window>
                  <strong> Centro de acopio: {{ i.nombre }} </strong>

                </agm-info-window>

              </agm-marker>
            </agm-map>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
