<!DOCTYPE html>
<html>
<head>
  <title> Home Citizen </title>
</head>
<body>


  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu-citizen></app-nav-menu-citizen>
      </div>
      <div class='col-sm-9 body-content'>

        <div class="card">
          <div class="card-header">
            <h1> Mapa de centros </h1>
          </div>
          <div class="card-body">

            <div style="z-index: 2;position: fixed; margin-left: 10px; width: 30%">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Buscar dirección" autocorrect="off" autocapitalize="off" #search >
            </div>

            <agm-map [latitude]="latitude"
                     [longitude]="longitude">

              <agm-marker [latitude]="latitude"
                          [longitude]="longitude">

              </agm-marker>

            </agm-map>

            <!--
  <agm-map [latitude]="19.205145"
           [longitude]="-96.191294">

    <agm-marker *ngFor="let info of d"
                [latitude]="info.latitud"
                [longitude]="info.longitud"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">


      <agm-info-window> <strong>  {{ info.nombre }}  </strong> </agm-info-window>

    </agm-marker>
  </agm-map>
      -->
            <h5>Address: {{address}}</h5>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>



          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
