body {
  margin-top: 10px;
  margin-left: -24%;

}

.card, .derecha card {
  text-align: center;
}



.card {
  width: 100%;
}


agm-map {
  height: 500px;
  z-index:-1;
}

div [type="text"] {
  width: 35%;
  float: left;
}


div [type="button"] {
  margin: 2%;
  float: right;
}
