
*{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;

}

body {
 /* background-color: red;*/
  float: left;
  left: 0;

}

#main-nav {
  background-color: black;
  position: fixed; /*fixed */

 padding-right: 5%;

  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: mediumturquoise;
}

#main-nav ul li {
margin: 10px 20px 0 0;
padding: 10px 20px 0 0;
list-style: none;
}

#main-nav ul li a {
text-decoration: none;
color: white;

}

  #main-nav ul li a:hover {
    color: mediumturquoise;
    transition-duration: .5s;
  }

label {
  cursor:pointer;
}


#hide:checked ~ #main-nav {
  transition-duration: .3s;
  width: 7%;
}


#hide:checked ~ #main-nav label {
  display:none;
}

/*
#hide {
  display: none;
}
  */

/* logo esquina inferior derecha  */
.icon-eye {
  position: fixed;
  color: white;
  cursor: pointer;
  margin-left: 220px;
  margin-top: 600px;
  padding: 20px 20px 20px 20px;
  float: right;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  background-color: black;
  z-index: 2;
}

  .icon-eye:hover {
    color: mediumturquoise;
  }

#main-nav-horizontal {
  display: none;
}


  

@media screen and (max-device-width: 480px) {
  #main-nav {
  
    display: none;
  }


  #main-nav-horizontal {
    height: 5%;
    position: fixed;
    z-index: 2;
    margin-top: -78%;
    margin-left:-50%;
    padding: 70%;
    background-color: black;
    display: none;

  }



    #main-nav-horizontal li a {
      display: block;
      padding: 8px 16px;
      text-decoration: none;
    }

    #main-nav-horizontal ul {
      list-style-type: none;
      margin-left: 30%;
      padding: 0;
      width: 200%;
      background-color: black;
    }

  #hide:checked ~ #main-nav-horizontal {
    display:block;
  }



}

    

  /*
@media screen and (max-device-width : 480px) {

  #main-nav {
    text-align: center;
    width: 100%;
    background-color: blue;
  }
}

    */

/*
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  #main-nav {
    font-size: 1.2em;
    line-height: 1.5em;
    background-color: brown;
  }

}
  */
