<!DOCTYPE html>
<html>
<head>
  <title> Login </title>
</head>
<body>

    <div class="card">
      <div class="card-header">
        <h1> Información del sistema </h1>
      </div>

      <div class="card-body">
        <img src="../../assets/image/sin-foto.jpg" class="rounded-circle">
      </div>

      <p style="text-align: center"> Version 1.0 </p>


      <p> Sistema realizado bajo el trabajo de titulacion Sistema estadístico y gestión de residuos electrónicos en los centros de acopio en la zona conurbada Veracruz, Boca del Río. <br />  </p>
    
      <div class="card-footer">
       
        <p> Universidad Veracruzana - Facultad de Ingeniería Eléctrica y Electrónica - Ingeniería Informática </p>
        <p> <b> Autor: </b> Eduardo Morales Cano. <b> Asesor(es): </b> Dr. Carlos Arturo Cerón Alvares y Ing. Gonzalo A. Sosa Malaga  </p>
     
      </div>

    </div>

</body>
</html>
