<!DOCTYPE html>
<html>

<head>
  <title> Estadisticas </title>
</head>
<body>


  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-9 body-content'>

        <div class="r2 card">
          <div class="card-header">
            <h1> Elementos de un residuo electrónico </h1>

          </div>

          <div class="card-body" id="radar">

            <canvas baseChart
                    [data]="polarAreaChartData"
                    [labels]="polarAreaChartLabels"
                    [legend]="polarAreaLegend"
                    [colors]="polarAreaColors"
                    [chartType]="polarAreaChartType">

            </canvas>


            <!--
  <canvas baseChart
          [datasets]="radarChartData"
          [labels]="radarChartLabels"
          [colors]="ChartColorsTransparent"
          [chartType]="radarChartType">

  </canvas>
    -->

          </div>

          <div class="card-footer">

            <button class="btn btn-danger" type="button"><span class="icon-file-pdf"></span> Exportar PDF </button>
            <!--
            <button class="btn btn-primary" type="button" (click)="getPolar()"><span class="icon-search"></span> Obtener datos </button>
            -->
            <button class="btn btn-warning" type="button" (click)="Maximizar()"> <span class="icon-zoom-in"></span> Maximizar </button>


            <button *ngIf="show" style="float: right; margin:2%;" class="btn btn-primary" type="button" (click)="Regresar()"><span class="icon-undo"></span> Regresar </button>


          </div>


          </div>



      </div>
    </div>
  </div>

</body>
</html>
