<!DOCTYPE html>
<html>
<head>
  <title> Registro </title>
</head>
<body>

  <div class="card">
    <div class="card-header"> <h1> Perfil </h1> </div>
    <div class="card-body">
      <div class="card-text">
        <img src="../../assets/image/img1.png" class="rounded-circle">
        <input class="form-control" type="text" placeholder=" ID" readonly/>
        <input class="form-control" type="text" placeholder=" Nombre completo"  readonly/>
        <input class="form-control" type="text" placeholder=" Edad"  readonly/>
        <input class="form-control" type="text" placeholder=" Dirección" readonly/>
        <input class="form-control" type="text" placeholder=" Cargo" readonly/>
      </div>
    <div class="card-footer">
      <input class="btn btn-danger" type="button" name="btneliminar" value="Eliminar usuario" />
    </div>
  </div>

</div>

  <hr>

  <div class="right card">
    <div class="card-header"> <h1> Datos personales </h1> </div>
    <div class="card-body">
    <div class="card-text">
      <input class="form-control" type="text" />
    </div>
   
  </div>

</div>

</body>
</html>
