body {
  position:fixed;
  left: 100px;
  padding: 20px 12px 0 50px;
  top: 0;
}


div [type="text"], [type="button"] {
  margin: 15px 0 15px 0;
}


.close {

  margin: auto;
}



.card {
  padding: 10px 10px 10px 10px;
  width: 55%;
  text-align: center;
}


.card-body {


}

.card-body img {
  width: 50%;
}

/* Linea de separacion 
hr {
  position: fixed;
  border: none;
  border-right: 2px solid rgba(128, 128, 128,.5);
  height: 552px;
  width: 300px;
  top: 0;
  z-index: -1;
}
*/

h1 {
  text-align: center;
}

.right {
  position: absolute;
  float: right;
  margin: 20px 0 0 350px;
  padding-right: 0;
  width: 150%;
  top: 0;
  z-index: 1;
}



table tr th {
  text-align: center;
}
