<!DOCTYPE html>
<html>
<head>
  <title> Registro </title>
</head>
<body>

  <div class="card">
    <div class="card-header"> <h1> Centro de Acopio </h1> </div>
    
      <div class="card-body">
        <img src="../../assets/image/sin-foto.png" class="rounded-circle">
        <input class="form-control" type="text" placeholder=" ID" readonly/>
        <input class="form-control" type="text" placeholder=" Nombre"  readonly/>
        <input class="form-control" type="text" placeholder=" Dirección"  readonly/>
      </div>
    <div class="card-footer">
      <input class="btn btn-success" type="button" value="Guardar personal" />
    
  </div>

</div>

  <div class="right card-group">
    <div class="card">
      <div class="card-header"> <h1> Personal </h1> </div>
      <div class="card-body">

          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Nombre </th>
                <th scope="col"> Apellidos </th>
                <th scope="col"> Edad </th>
                <th scope="col"> Dirección </th>
                <th scope="col"> Cargo </th>
                <th scope="col"> Centro </th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let info of _personal">
                <td> {{info.id}} </td>
                <td> {{info.nombre}} </td>
                <td> {{info.apellidos}} </td>
                <td> {{info.edad}} </td>
                <td> {{info.direccion}} </td>
                <td> {{info.idCargo}} </td>
                <td> {{info.idCentro}} </td>
              </tr>
        
            </tbody>
          </table>

      </div>
    </div>
  </div>

</body>
</html>
