<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <div class="card" ngNativeValidate>
    <div class="card-header">
      <h1> Consulta de residuos electrónicos </h1>
    </div>

    <div class="card-body">
       
     <input type="text" class="form-control" [(ngModel)]="_busqueda" name="_busqueda" id="_busqueda" placeholder="Busqueda universal"  (keyup)="obtenerComponentes()" required/>

      <table class="table">

        <thead class="thead-dark">

          <tr>

            <th scope="col"> ID </th>
            <th scope="col"> Componente </th>
            <th scope="col"> Peso (Kg) </th>
            <th scope="col"> Clasificación </th>
            <th scope="col"> Fecha de ingreso </th>
            <th scope="col" colspan="3"> Acciones </th>

          </tr>
        </thead>

        <tbody *ngIf="inexistente">

          <tr *ngFor="let info of _componentes">

            <td> <input type="text" class="form-control" id="Id" placeholder={{info.id}} disabled />  </td>
            <td> <input type="text" class="form-control" id="Nombre{{info.id}}" value={{info.nombre}} #box1 disabled /></td>
            <td> <input type="text" class="form-control" id="Peso{{info.id}}" value={{info.peso}} #box2 disabled /> </td>

            <td>
              <select class="form-control" id="Clasificacion{{info.id}}"  #box3 disabled>
                <option value="{{info.idClasificacion}}" selected disabled> {{ info.clasificacion }} </option>
                <option value="1"> Equipos de informática y telecomunicaciones </option>
                <option value="2"> Aparatos electrónicos de consumo </option>
                <option value="3"> Juguetes o equipos deportivos y de tiempo libre </option>
              </select>
            </td>


            <td> <input type="date" class="form-control" id="Fecha{{info.id}}" name="date" value={{info.fecha}} #box4 disabled /> </td>

            <td> <button *ngIf="showSave" type="button" class="btn btn-success" onclick="confirmarDatos()" (click)="modificarPersonal(info.id, box1.value, box2.value, box3.value, box4.value)"><span class="icon-floppy-disk"></span></button> </td>
            <td> <button type="button" class="btn btn-success" id={{info.id}} onclick="editarComponente(this.id)"><span class="icon-pencil2"></span></button> </td>
            <td> <button class="btn btn-danger" onclick="eliminarRegistro()" (click)="eliminarComponente(info.id)"><span class="icon-cross"></span></button> </td>

          </tr>

        </tbody>
      </table>

      
      <p *ngIf="consulta" style="font-weight: bolder; font-family:Arial; font-size: 15px">
        <span class='icon-search'> </span>  !Sin consultas aún¡
      </p>

      <p *ngIf="!inexistente" style="font-weight: bolder; font-family:Arial; font-size: 15px">
        <span class='icon-cross'> </span>  !Residuo electrónico inexistente¡
      </p>

    </div>
  </div>



  <!--
  <div *ngIf="showSuccess">
    <ngb-alert *ngIf="!staticAlertClosed" type="success" class="movimiento" (close)="close()">
      <strong> !Exito¡ </strong> Componente eliminado del sistema
    </ngb-alert>
  </div>
  -->



</body>
</html>
