
* {
  text-align: center;
}

.card  {
  margin: 420px 0 0 0;
  position: absolute;
  width: 96%;
  text-align: center;
}


div [type="text"] {
  margin: 0 0 10px 0;
  text-align: center;
}

div table thead tr th{
  text-align: center;
}



div #_busqueda {
  margin: 0 0 10px 0;
  width: 50%;
}
