body {
  margin-top: 10px;
  margin-left: -24%;
}


div [type="text"], [type="button"] {
  margin: 10px 0 10px 0;
}


.close {

  margin: auto;
}



.card {
  padding: 10px 10px 10px 10px;
  width: 20%;
  text-align: center;
}


.card-body {


}

.card-body img {
  width: 50%;
}

/* Linea de separacion 
hr {
  position: fixed;
  border: none;
  border-right: 2px solid rgba(128, 128, 128,.5);
  height: 552px;
  width: 300px;
  top: 0;
  z-index: -1;
}
*/

h1 {
  text-align: center;
}


.right {
  position: absolute;
  margin: 0 0 0 300px;
  width: 70%;
  top: 0;
 
}

table tr th {
  text-align: center;
}
