* {
  text-align: center;
}


.close {
  margin: auto;
}



.card {
  position: absolute;
  margin: 620px 0 0 0;
  width: 94%;
  margin-bottom: 30px;
}



div #_busqueda {
  margin: 0 0 10px 0;
  width: 50%;
}
