<!DOCTYPE html>
<html>
<head>
  <title> Maps Institution </title>
</head>
<body>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu-institution></app-nav-menu-institution>
      </div>
      <div class='col-sm-9 body-content'>


        <div class="card">
          <div class="card-header">
            <h1> Mapa de centros </h1>
          </div>
          <div class="card-body">
            <agm-map  
                     [latitude]="lat"
                     [longitude]="lng">

              <agm-marker *ngFor="let info of d"
                          [latitude]="info.latitud"
                          [longitude]="info.longitud">


                <agm-info-window> <strong>  info.nombre  </strong> </agm-info-window>


              </agm-marker>
            </agm-map>
          </div>
        </div>


      </div>
    </div>
  </div>

</body>
</html>
