

/*
@media screen and (max-width: 720px) {

  .card {
    width: 90%;
    margin-left: 2%;
    margin-top: 2%;

  }

  .r2 {
    width: 90%;
    margin-left: 2%;
    margin-top: 75%;
  }

  .r3 {
    width: 90%;
    margin-left: 2%;
    margin-top: 150%;
  }

  .r4 {
    width: 90%;
    margin-left: 2%;
    margin-top: 223%;
  }
    
}

  */
