<!DOCTYPE html>
<html>
<head>
  <title> Login </title>
</head>
<body>

  <form (ngSubmit)="ObtenerDatos()">
    <div class="card">
      <div class="card-header">
      <h1> Login </h1> </div>

      <div class="card-body">
        <img src="../../assets/image/sin-foto.png" class="rounded-circle">
        <input class="form-control" type="text" [(ngModel)]="usuario" name="usuario" placeholder=" Usuario" required />
        <input class="form-control" type="password" [(ngModel)]="password" name="password" placeholder=" Contraseña" required/>
      </div>

      <div class="card-footer">
        <input class="btn btn-success" id="btn" type="submit" value="Ingresar" />
        <br />
        <a href="/add-center"> ¿Eres un <b> centro de acopio en RE </b> nuevo? Forma parte </a>
      </div>

    </div>
    </form>
    


</body>
</html>
