<!DOCTYPE html>
<html>
<head>
  <title> Login </title>
</head>
<body>

  <form (ngSubmit)="ObtenerDatos()" ngNativeValidate>
    <div class="card">
      <div class="card-header">
        <h1> Login </h1>
      </div>

      <div class="card-body">
        <img src="../../assets/image/sin-foto.png" class="rounded-circle">
        <input class="form-control" type="text" [(ngModel)]="_usuario" name="_usuario" placeholder=" Usuario" required />
        <input class="form-control" type="password" [(ngModel)]="_password" name="_password" placeholder=" Contraseña" required />
      </div>

      <div class="card-footer">
        <input class="btn btn-success" id="btn" type="submit" value="Ingresar" />
        <br />
        <p (click)="addCenter()"> ¿Eres un <b> centro de acopio en RE </b> nuevo? Forma parte </p>
        <br />
        <p class="regresar" (click)="returnCitizens()"> <span class="icon-home">  <b> Regresar  </b> </span> </p>
      </div>

    </div>
  </form>

  <div *ngIf="showDanger">
    <ngb-alert *ngIf="!staticAlertClosed" type="danger" class="movimiento" (close)="close()">
      <strong> !Datos incorrectos¡ </strong> Verifica tus datos e ingresalos de nuevo
    </ngb-alert>
  </div>




</body>
</html>
