body {
  text-align: center;
}

h1 {
  font-size: 30px;
}

p:hover {
  color:lightseagreen;
  cursor: pointer;
}

.card {
  margin: 5% 10% 0 40%;
  padding: 10px 10px 10px 10px;
  width: 250px;
  border-top: solid;
  border-top-color: rgb(26, 188, 156);
  border-top-width: 5px;
}

.card .card-body img {
  width: 40%;
  padding: 10px 10px 10px 10px;
}


div [type="text"], [type="password"], [type="button"] {
  margin: 15px 0 15px 0;
}

p {
  margin-top: 10px;
}


.regresar {
  text-align: left;
}
