
.panel-session {
  float: right;
  right: 5px;
  position: fixed;
  margin: 10px -150px 10px 10px;
  padding: 10px 40px 10px 20px;
  background-color: black;
  border-radius: 10px;
  color: white;
  transition-duration: 1s;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: orange;
  z-index: 1;
}

  .panel-session span {
    padding-right: 10px;
  }

  #show:checked ~ .panel-session {
    display: block;
  }

  #hide:checked ~ .panel-session {
    display: none;
  }


  .panel-session:hover {
    margin: 10px -25px 10px 10px;
    transition-duration: 1s;
  }


  p:hover {
    color: mediumspringgreen;
    cursor: pointer;
  }
