<!DOCTYPE html>
<html>
<head>
  <title> Menu </title>
</head>
<body>

  <label for="hide">
    <span class='icon-eye'> </span>
  </label>
  <input type="checkbox" id="hide" checked />

  <div id="main-nav" (mouseover)=obtenerResultados()>
    <div class="panel-session">
      <table>
        <tbody>
          <tr>
            <td> <p> <span class="icon-user"></span> Usuario: {{ nombre }} </p> </td>
          </tr>
          <tr>
            <td> <p> <span class="icon-clock"></span> Fecha: {{ today | date:"fullDate" }} </p> </td>
          </tr>
          <tr>
            <td> <p> <span class="icon-earth"></span> Centros en servicio: {{ onCentros }} </p> </td>
          </tr>
          <tr>
            <td> <p> <span class="icon-eye-blocked"></span> Centros fuera de servicio: {{ offCentros }} </p> </td>
          </tr>
          <tr>
            <td> <p (click)="closeSession()"> <span class="icon-exit"></span> Cerrar sesión </p> </td>
          </tr>
        </tbody>
      </table>
      </div>


      <ul>

        <li [routerLinkActive]='["link-active"]'>
          <a class="active" [routerLink]='["/i-home"]'>
            <span class='icon-home'> </span>  <label> Principal </label>
          </a>
        </li>



        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/add-notices"]' (click)='collapse()'>
            <span class='icon-newspaper'> </span> <label> Publicar noticias </label>
          </a>
        </li>



        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/i-reports"]' (click)='collapse()'>
            <span class='icon-pencil2'> </span> <label> Reportes de centros </label>
          </a>
        </li>


        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/i-maps"]' (click)='collapse()'>
            <span class='icon-map'> </span> <label> Centros en linea </label>
          </a>
        </li>


        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/i-verify-center"]' (click)='collapse()'>
            <span class='icon-checkmark'> </span> <label>  Peticiones de centros </label>
          </a>
        </li>


        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/i-maps"]' (click)='collapse()'>
            <span class='icon-info'> </span> <label> Info </label>
          </a>
        </li>




      </ul>
    </div>




    <!-- <footer> <p> Sistema Estadistico y Gestion de Residuos Electronicos en la zona conurbada Veracruz, Boca del rio <sup> 2019 TM </sup> </p> </footer> -->



</body>

</html>



