<!DOCTYPE html>
<html>
<head>
  <title> Agregar evento </title>
</head>
<body>

  <form (ngSubmit)="ObtenerDatos()" ngNativeValidate>
    <div class="card">
      <div class="card-header">
        <h1> Registro de evento </h1>
      </div>

      <div class="card-body">

        <input class="form-control" type="text" id="nombre" [(ngModel)]="_nombre" name="_nombre" placeholder=" Nombre del evento" required />
        <input class="form-control" type="text" id="organizador" [(ngModel)]="_organizador" name="_organizador" placeholder=" Organizador(es)" required />
        <input class="form-control" type="date" id="fecha" [(ngModel)]="_fecha" name="_fecha" required />
        <input class="form-control" type="time" id="hora" [(ngModel)]="_hora" name="_hora" required />
        <input class="form-control" type="number" id="lat" [(ngModel)]="_lat" name="_lat" placeholder=" Latitud" disabled required />
        <input class="form-control" type="number" id="long" [(ngModel)]="_lng" name="_lng" placeholder=" Longitud" disabled required />

      </div>

      <div class="card-footer">

        <input class="btn btn-success" type="submit" onclick="faltanDatosAgregarEvento()" value="Agregar evento" />
        <input class="btn btn-danger" type="reset" value="Cancelar" />

      </div>

    </div>

  </form>

  <div class="right card">
    <div class="card-header">
      <h1> Ubicar evento en el mapa </h1>
    </div>

    <div class="card-body">

      <div style="z-index: 1; position: absolute; margin-left: 10px; width: 30%" ngNativeValidate>
        <input type="text" class="form-control" placeholder="Buscar dirección" #search required>
      </div>

      <agm-map [latitude]="latitude"
               [longitude]="longitude"
               [zoom]="17"
               (mapClick)="mapClicked($event)">


        <agm-marker *ngFor="let m of markers"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    (markerRightClick)="markerRightClick($event)">

        </agm-marker>

        <agm-marker [latitude]="latitude"
                    [longitude]="longitude"
                    [iconUrl]="iconMapCurrent.iconUrl">

          <agm-info-window><b>Estoy, aquí</b></agm-info-window>

        </agm-marker>


      </agm-map>

      <!--
  <agm-map [latitude]=19.205145
           [longitude]=-96.191294
           [zoom]="17"
           (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let m of markers"
                [latitude]="m.lat"
                [longitude]="m.lng"
                (markerRightClick)="markerRightClick($event)">

    </agm-marker>

  </agm-map>
      -->

    </div>
  </div>



</body>

</html>
