* {
  text-align: center;
}

div [type="number"], [type="submit"], [type="reset"], [type="text"] {
  margin: 10px 0 10px 0;
}


.card {
  position: absolute;
  margin: 0 0 0 10px;
  width: 20%;
}



agm-map {
  height: 500px;
}


.right {

  float: right;
  margin: 0 0 0 300px;
  width: 75%;
  z-index: 1;

}
