* {
  text-align: center;
}

div [type="number"], [type="submit"], [type="reset"], [type="text"], [type="time"], [type="date"] {
  margin: 10px 0 10px 0;
}


.card {
  
  position: absolute; 
  width: 28%;

}




.right {

  float: right;
  margin: 0 0 0 29%;
  width: 65%;

}



agm-map {
  height: 345px;

}
