<!DOCTYPE html>
<html>
<head>
  <title> Agregar evento </title>
</head>
<body>

  <form (ngSubmit)="ObtenerDatos()" ngNativeValidate>
    <div class="card">
      <div class="card-header">
        <h1> Registro de evento </h1>
      </div>

      <div class="card-body">

        <input class="form-control" type="text" [(ngModel)]="_nombre" name="_nombre" placeholder=" Nombre del evento" required />
        <input class="form-control" type="text" [(ngModel)]="_organizador" name="_organizador" placeholder=" Organizador(es)" required />
        <input class="form-control" type="date" [(ngModel)]="_fecha" name="_fecha" required />
        <input class="form-control" type="time" [(ngModel)]="_hora" name="_hora" required />
        <input class="form-control" type="number" [(ngModel)]="_lat" name="_lat" placeholder=" Latitud" disabled required />
        <input class="form-control" type="number" [(ngModel)]="_lng" name="_lng" placeholder=" Longitud" disabled required />

      </div>

      <div class="card-footer">

        <input class="btn btn-success" type="submit" onclick="return confirmarDatos()" value="Agregar evento" />
        <input class="btn btn-danger" type="reset" value="Cancelar" />

      </div>

    </div>

  </form>

  <div class="right card">
    <div class="card-header">
      <h1> Ubicar evento en el mapa </h1>
    </div>

    <div class="card-body">
      <agm-map [latitude]=19.205145
               [longitude]=-96.191294
               [zoom]="17"
               (mapClick)="mapClicked($event)">

        <agm-marker *ngFor="let m of markers"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    (markerRightClick)="markerRightClick($event)">

        </agm-marker>


      </agm-map>

    </div>
  </div>



</body>

</html>
