
.card  {
  margin: 35% 0 0 -24%;
  position: absolute;
  width: 117%;
  text-align: center;
}


div [type="text"] {
  margin: 0 0 10px 0;
  width: 50%;
}

div table thead tr th{
  text-align: center;
}

