body {
  margin-top: 10px;
  margin-left: -24%;
}

.card, .derecha card {
  text-align: center;
}

div [type="text"], [type="button"], [type="number"] {
  margin: 10px 0 10px 0;
}

.card {

  width: 100%;
}

table {
  padding: 0 0 0 0;
}

table thead th {
  text-align:center;
}


agm-map {
  height: 500px;
  z-index: -1;
}

/*
.right {
  position: absolute;
  float: right;
  margin: 20px 0 0 350px;
  padding-right: 0;
  width: 250%;
  top: 0;
  z-index: 1;
}
  */

