body {
  margin-top: 10px;
  margin-left: 8%;
}

* {
  text-align: center;
}




.card {
  position: absolute;
  width: 88%;
  text-align: center;
}


div [type="text"] {
  margin: 0 0 10px 0;
  text-align: center;
}

div table thead tr th {
  text-align: center;
}



div #_busqueda {
  margin: 0 0 10px 0;
  width: 50%;
}

















/*

.card {
  text-align: center;

  margin: 10px 10px 10px 10px;
}

p {
 padding: 10px 0 0 10px;
}

  */

/*  animacion de barras progress */

/*

.inicio{
  width: 0%;
}

.final {

  width: 100%;

}

.animacion{
  transition: all 2s ease .5s;
}
*/
