* {
  text-align: center;
}

div [type="text"], [type="submit"], [type="file"] {
  margin: 10px 0 10px 0;
}


.close {
  margin: auto;
}



.card {

  position: absolute;
  margin: 0 0 0 0;
  width: 20%;

}


.card-body img {
  width: 65%;
}
