<!DOCTYPE html>
<html>
<head>
  <title> Perfil del centro de acopio </title>
</head>
<body>

  <div class="card">

    <div class="card-header"> <h1> Perfil </h1> </div>

    <div *ngFor="let info of _centro" class="card-body">

      <img src="{{imagenSRC}}" height="160" class="rounded-circle" style=" border:solid 3px"/> 
      <div>
        <span style=" position:absolute; margin: 20px 0 0 -110px;" class="icon-leaf"></span>
      </div>
       <input class="form-control" type="text" value="{{info.id}}" placeholder=" ID" disabled />


       <div>
         <span style=" position:absolute; margin: 11px 0 0 -110px;" class="icon-user"></span>
       </div>
        <input class="form-control" type="text" value="{{info.nombre}}" placeholder=" Nombre" disabled />


        <div>
          <span style=" position:absolute; margin: 12px 0 0 -110px;" class="icon-key"></span>
        </div>
        <input class="form-control" type="text" value="{{info.password}}" placeholder=" Contraseña" disabled/>
      
      </div>


      <div class="card-footer">

        <form (ngSubmit)="ObtenerImagen($event)">
          <input type="file" class="form-control" formenctype="multipart/form-data" accept=".jpg,.png,.jpeg,.gif" required />
          <input type="submit" class="btn btn-success" value="Actualizar imagen" />
        </form>

      </div>

    </div>

  <!--

  <p style="z-index: 1; position:relative; float:right">
    <a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" (click)="ObtenerPerfil()" > Perfil </a>

  <button  style="z-index: 1; position:relative; float:right" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="true" aria-controls="multiCollapseExample1"  (click)="ObtenerPerfil()"> Perfil 2</button>


  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
  </p>


  <div class="row">

    <div class="col">
      <div class="collapse multi-collapse">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <!--
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>

  </div>
        -->

</body>
</html>
