* {
  text-align: center;
}

table {
  padding: 10px 10px 10px 10px;
}

div select option {
  text-align: center;
}

div [type="text"] {
border: none;
}


table tbody tr th {
  background-color:seagreen;

  color: white;
}


table tbody tr th p {
  padding-top: 10px;
}


