<div class='main-nav'>

    <ul class="a">

      <li [routerLinkActive]='["link-active"]'>
        <a class="active" [routerLink]='["/"]'>
          <span class='glyphicon glyphicon-home'></span>
        </a>
      </li>

    </ul>

    <ul>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/users"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-user'></span>
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/edit"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-pencil'></span>
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/stats"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-stats'></span>
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/maps"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-map-marker'></span>
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/info"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-info-sign'></span>
        </a>
      </li>

    </ul>

</div>
