*{
  text-align: center;
}

h1{
  font-size: 30px;
}


.card {
  padding: 10px 10px 10px 10px;
  margin: 50px 10px 10px 0px;
  width: 40%;
}

div [type="text"], [type="password"], [type="submit"] {
  margin: 15px 0 15px 0;
}
