
.card {
  position: absolute;
  text-align: center;
  margin: 1% 0 0 17%;
  width: 75%;
  
}

input {
  margin: -10px 35px 0 0;
  float: right;
}

table thead tr th {
  text-align: center;
}

div [type="text"], [type="button"], [type="number"] {
  margin: 10px 0 10px 0;
}
