
.card {
  position: absolute;
  text-align: center;
  margin: 0 0 0 430px;
  width: 65%;
  
}

div [type="button"] {
  margin: -10px 15px 0 0;
  float: right;
}

table thead tr th {
  text-align: center;
}

