<!DOCTYPE html>
<html>
<head>
  <title> Peticiones de centros </title>
</head>
<body>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu-institution></app-nav-menu-institution>
      </div>
      <div class='col-sm-9 body-content'>


        <div class="card">
          <div class="card-header"> <h1> Peticiones de los centros </h1> </div>
          <div class="card-body">

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col"> ID </th>
                  <th scope="col"> Nombre </th>
                  <th scope="col"> Usuario </th>
                  <th scope="col"> Contraseña </th>
                  <th scope="col"> Correo electronico </th>
                  <th scope="col"> Documento(s) Adjunto </th>
                  <th scope="col"> Acciónes </th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let info of _centro">
                  <td> {{info.id}} </td>
                  <td> {{info.nombre}} </td>
                  <td> {{info.usuario}} </td>
                  <td> {{info.password}} </td>
                  <td> {{info.correo}}</td>
                  <td> <a href="../../../{{info.documento}}" target="_blank"> <p class="btn btn-info"> <span class="icon-download"></span> Aceptar </p> </a></td>

                  <td>
                  <button class="btn btn-success" onclick="aceptarRegistro()" (click)="seleccionarCentro(info.id, true)" > <span class="icon-checkmark"></span> Aceptar </button>
                  <button class="btn btn-danger" onclick="eliminarRegistro()" (click)="seleccionarCentro(info.id, false)" > <span class="icon-cross"> </span> Eliminar </button>
                  </td>

                </tr>
              </tbody>
            </table>

          </div>



          <div *ngIf="showSuccess">
            <ngb-alert *ngIf="!staticAlertClosed" type="success" class="movimiento" (close)="close()">
              <strong> !Exito¡ </strong> Cuentas esperando su respuesta !
            </ngb-alert>
          </div>

          <div *ngIf="showDanger">
            <ngb-alert *ngIf="!staticAlertClosed" type="danger" class="movimiento" (close)="close()">
              <strong> !Aviso¡ </strong> No hay cuentas ha verificar !
            </ngb-alert>
          </div>



        </div>

      </div>
    </div>
  </div>

</body>
</html>
