
* {
  text-align: center;
}


div [type="number"], [type="submit"], [type="reset"], [type="text"], [type="time"], [type="file"] {
  margin: 10px 0 10px 0;
}

div input[type="file"]#file {
  width: 0.1px;
  font-family: Arial;
  font-weight: normal;
  height: 0.1px;
  opacity: 0;
  color: cornflowerblue;
  overflow: hidden;
  position: absolute;
}

div label[for="file"] {
  font-size: 12px;
  margin-top: 10px;
  background-color: rgba(128, 128, 128,.2);
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  border-radius: 5px;
  border: .5px solid rgba(128, 128, 128,.4);
  padding: 8px 8px 8px 8px;
  width: 100%;
  text-align: center;
}

  div label[for="file"]:hover {
    color: white;
    background-color: mediumseagreen;
  }


.card {
  position: absolute;
  margin: 1% auto auto 5%;
  width: 20%;
}

.right {
  float: right;
  margin-left: 27%;
  width: 70%;
}



agm-map {
  height: 495px;
}


p:hover {
  color: lightseagreen;
  cursor: pointer;
}





@media screen and (max-device-width: 480px) {

  .card {
    margin: 10% auto auto auto;
    padding: 10px 10px 10px 10px;
    width: 50%;
  }
}
