/* You can add global styles to this file, and also import other style files */



footer {
  background-color: gray;
  font-weight: bold;
  text-align:center;
  color: white;
  padding: 10px 0 5px 0;

  position: fixed;
  left: 100px;

  width: 100%;
  bottom: 0;

  z-index: 1;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}




/**** MENSAJES BOOTSTRAP*****/

div ngb-alert {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 1;
}

.movimiento {
  animation-duration: 2s;
  position: absolute;
  animation-name: mymove;
}

@keyframes mymove {

  from {
    top: -70px;
  }

  to {
    animation-delay: 10s;
    top: 10px;
  }
}

/****** FIN MENSAJES ****/


/*****  LINEA VERDE SUPERIOR EN LOS CARDS *******/
/*
.card {
  border-top: solid;
  border-top-color: rgb(26, 188, 156);
  
  border-top-width: 5px;
}
  */
