/* You can add global styles to this file, and also import other style files */

footer {
  background-color: gray;
  font-weight: bold;
  text-align:center;
  color: white;
  padding: 10px 0 5px 0;

  position: fixed;
  left: 100px;

  width: 100%;
  bottom: 0;
}
