<!DOCTYPE html>
<html>
<head>
  <title> Edición de los componentes </title>
</head>
<body >

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <app-nav-menu></app-nav-menu>
      </div>
      <div class='col-sm-9 body-content'>

        <div>
          <app-add-components></app-add-components>
        </div>
        
        <div>
          <app-table-components></app-table-components>
        </div>
         
        <div>
          <app-top-table-components></app-top-table-components> <!-- cambiar nombre por top de componentes o algo similiar desde raiz el archivo-->
        </div>




      </div>
    </div>
  </div>


</body>
</html>
