<!DOCTYPE html>
<html>
<head>
  <title> Agregar centros de acopio </title>
</head>
<body>

  <form (ngSubmit)="ObtenerDatos()" ngNativeValidate>
    <div class="card">
      <div class="card-header">
        <h1> Registro de centros de Acopio </h1>
      </div>

      <div class="card-body">

        <input class="form-control" type="text" [(ngModel)]="_nombre" name="_nombre" placeholder=" Nombre del centro de acopio" autofocus required />
        <input class="form-control" type="text" [(ngModel)]="_usuario" name="_usuario" placeholder=" Usuario" required />
        <input class="form-control" type="file" [(ngModel)]="_imagen" name="_imagen" placeholder=" Imagen" required />

        <input class="form-control" type="text" [(ngModel)]="_correo" name="_correo" placeholder=" Correo electronico" required />
        <input class="form-control" type="password" [(ngModel)]="_password" name="_password" placeholder=" Contraseña" required />
        <input class="form-control" type="text" [(ngModel)]="_password" name="password" placeholder=" Contraseña visual" disabled required />

        <input class="form-control" type="number" [(ngModel)]="_lat" name="_lat" placeholder=" Latitud" disabled required />
        <input class="form-control" type="number" [(ngModel)]="_lng" name="_lng" placeholder=" Longitud" disabled required />
      </div>

      <div class="card-footer">
        <input class="btn btn-success" type="submit" onclick="return confirmarDatos()" value="Enviar datos" />
        <input class="btn btn-danger" type="reset" value="Cancelar" />
        <br />
        <p (click)="login()"> Regresar </p>
      </div>

    </div>
  </form>

  <div class="right card">
    <div class="card-header">
      <h1> Ubicar centro en el mapa </h1>
    </div>

    <div class="card-body">

      <div style="z-index: 1; position: absolute; margin-left: 10px; width: 30%" ngNativeValidate>
        <input type="text" class="form-control" placeholder="Buscar dirección" #search autofocus required>
      </div>

      <agm-map [latitude]="latitude"
               [longitude]="longitude"
               [zoom]="17"
               (mapClick)="mapClicked($event)">


        <agm-marker *ngFor="let m of markers"
                    [latitude]="m.lat"
                    [longitude]="m.lng"
                    (markerRightClick)="markerRightClick($event)">

        </agm-marker>

        <agm-marker [latitude]="latitude"
                    [longitude]="longitude"
                    [iconUrl]="iconMapCurrent.iconUrl">

          <agm-info-window><b>Estoy, aquí</b></agm-info-window>

        </agm-marker>

      </agm-map>


      <!--

  <agm-map [latitude]=19.205145
           [longitude]=-96.191294
           [zoom]="17"
           (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let m of markers"
                [latitude]="m.lat"
                [longitude]="m.lng"
                (markerRightClick)="markerRightClick($event)">

    </agm-marker>


  </agm-map>
  -->
    </div>
  </div>

</body>
</html>
