<!DOCTYPE html>
<html>

<head>
  <title> Estadisticas </title>
</head>
<body >


  <div class='container-fluid' >
    <div class='row'>

      <div class='col-sm-9 body-content'>

        <div class="card r3">
          <div class="card-header">
            <h1> Clasificación de residuos </h1>

          </div>

          
          <div class="card-body" id="pie" ngNativeValidate>
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend"></canvas>
          </div>
           
          <div class="card-footer">

            <button *ngIf="show" class="btn btn-danger" type="button" (click)="generarPDF()"> <span class="icon-file-pdf"></span>  </button>

            <input type="text" class="form-control" id="search" [(ngModel)]="validate" #box (keyup)="getPastel(box.value)" placeholder="Nombre del Centro de acopio"required />

            <button class="btn btn-warning" type="button" (click)="Maximizar()"> <span class="icon-zoom-in"></span> </button>

            <button *ngIf="show"  class="btn btn-primary" type="button" (click)="Regresar()"><span class="icon-undo"></span>  </button>

          </div>

        </div>
      </div>
    </div>
  </div>

</body>
</html>
