body {
  background-color: red;
  float: left;
  left: 0;
}

#main-nav {
  background-color: black;
  position: fixed;
  width: 23%;
  height: 100%;
  left: 0;
  top: 0;
  z-index:2;
  border-right: 5px;
  border-right-style: solid;
  border-right-color: mediumseagreen;
}

#main-nav ul li {
margin: 10px 20px 0 -10px;
padding: 10px 20px 0 0;
list-style: none;
}

  #main-nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

#main-nav ul li a:hover {
color: mediumspringgreen;
transition-duration: .5s;
}

label {
  cursor:pointer;
}


#hide:checked ~ #main-nav {
  transition-duration: .3s;
  width: 7%;
}


#hide:checked ~ #main-nav label {
  display:none;
}


#hide {
  display: none;
}

.icon-eye {
  position: fixed;
  color: white;
  cursor: pointer;
  margin-left: 220px;
  margin-top: 600px;
  padding: 20px 20px 20px 20px;
  float: right;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  background-color: black;
  z-index: 1;
}

.icon-eye:hover {
  color: mediumspringgreen;
}


/*** LOGO EN MENU***/

div table tbody tr td img{

  border: solid 2px;
  border-radius: 2%;
  margin: 5px 0 5px 32px;

  width: 70px;
  height: 70px;
}



/**PANEL DE SESION*/

.panel-session {
  float: right;
  right: 5px;
  position: fixed;
  margin: 10px -280px 10px 10px;
  padding: 10px 40px 10px 20px;
  background-color: black;
  border-radius: 10px;
  color: white;
  transition-duration: 1s;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: mediumseagreen;
  font-weight: bold;
  z-index: 1;
}


  .panel-session span {
    padding-right: 10px;
  }

#show:checked ~ .panel-session {
  display: block;
}

#hide:checked ~ .panel-session {
  display: none;
}


.panel-session:hover {
  margin: 10px -25px 10px 10px;
  transition-duration: 1s;
}


p:hover {
  color: mediumspringgreen;
  cursor: pointer;
}

div table tbody tr td {
  padding: 3px 0 0 0;
}

#main-nav #session {
  display: none;
}



@media screen and (max-device-width: 480px) {

#main-nav {
  
  padding-right: 20%;
  width: 70%;

}

  #main-nav .panel-session {
    display: none;
  }

  #main-nav ul li {
   
    padding: 40px 0 0 0;
    margin: 0 -110px 0 -10px;
    list-style: none;
  }

  #main-nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }




  #main-nav #session {
    display: block;
  }




}
