<!DOCTYPE html>
<html>
<head>
  <title> Menu </title>
</head>
<body>

  <label for="hide">
    <span class='icon-eye'> </span>
  </label>
  <input type="checkbox" id="hide" checked />

  <div id="main-nav">

    <ul>

      <li [routerLinkActive]='["link-active"]'>
        <a class="active" [routerLink]='["/home"]'>
          <span class='icon-home'> <label> Principal </label> </span>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/users"]' (click)='collapse()'>
          <span class='icon-user'> </span> <label>  Usuarios </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/edit"]' (click)='collapse()'>
          <span class='icon-power-cord'> </span> <label> Editar </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/stats"]' (click)='collapse()'>
          <span class='icon-stats-dots'> </span> <label> Estadisticas </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/maps"]' (click)='collapse()'>
          <span class='icon-map'> </span> <label> Mapa </label>
        </a>
      </li>

      <!--
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/"]' (click)='close()'>
                <span class='p icon-exit'></span>
              </a>
            </li>
      -->

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/info"]' (click)='collapse()'>
          <span class='icon-info'> </span> <label> Información </label>
        </a>
      </li>

    </ul>
  </div>




  <!-- <footer> <p> Sistema Estadistico y Gestion de Residuos Electronicos en la zona conurbada Veracruz, Boca del rio <sup> 2019 TM </sup> </p> </footer> -->



</body>

</html>



