<!DOCTYPE html>
<html>
<head>
  <title> Menu </title>




</head>
<body>

  <label for="hide">
    <span class='icon-eye'> </span>
  </label>
  <input type="checkbox" id="hide" checked />

  <div id="main-nav">

    <ul>

      <li [routerLinkActive]='["link-active"]'>
        <a class="active" [routerLink]='["/home"]'>
          <span class='icon-home' data-toggle="tooltip" data-placement="right" > </span> <label> Principal </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/users"]' (click)='collapse()'>
          <span class='icon-user'  data-toggle="tooltip" data-placement="right"> </span> <label>  Usuarios </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/edit"]' (click)='collapse()'>
          <span class='icon-power-cord'  data-toggle="tooltip" data-placement="right"> </span> <label> Residuos </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/recycler-states"]' (click)='collapse()'>
          <span class='icon-earth'  data-toggle="tooltip" data-placement="right" > </span> <label> Estado de reciclaje </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/events"]' (click)='collapse()'>
          <span class='icon-calendar'  data-toggle="tooltip" data-placement="right" > </span> <label> Fechas de reciclado </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/stats"]' (click)='collapse()'>
          <span class='icon-stats-dots'  data-toggle="tooltip" data-placement="right" > </span> <label> Estadisticas </label>
        </a>
      </li>

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/maps"]' (click)='collapse()'>
          <span class='icon-map'  data-toggle="tooltip" data-placement="right" > </span> <label> Mapa </label>
        </a>
      </li>

      <!--
        <li [routerLinkActive]='["link-active"]'>
          <a [routerLink]='["/"]' (click)='close()'>
            <span class='p icon-exit'></span>
          </a>
        </li>
  -->

      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/info"]' (click)='collapse()'>
          <span class='icon-info'  data-toggle="tooltip" data-placement="right" > </span> <label> Información </label>
        </a>
      </li>

    </ul>
  </div>




  <!-- <footer> <p> Sistema Estadistico y Gestion de Residuos Electronicos en la zona conurbada Veracruz, Boca del rio <sup> 2019 TM </sup> </p> </footer> -->



</body>

</html>



