body {
  position: fixed;
  left: 100px;
  padding: 20px 12px 0 50px;
  top: 0;
}

.card, .derecha card {
  text-align: center;
}

div [type="text"], [type="button"], [type="number"] {
  margin: 15px 0 15px 0;
}

.card {
  padding: 10px 10px 10px 10px;
  width: 100%;
  text-align: center;
}



.right {
  position: absolute;
  float: right;
  margin: 20px 0 0 350px;
  padding-right: 0;
  width: 250%;
  top: 0;
  z-index: 1;
}


agm-map {

  height: 500px;

}
